@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: white;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Violet);
  background-image: url('../images/bg-desktop.svg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}


.logo {
  width: 214px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 52px;
}

img {
  margin-left: 45px;
}

.informations {
  margin-left: 42px;
  margin-right: 50px;
  padding: 44px;
}

.informations h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 18px;
}

.informations p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 37px;
}

.section a.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 50px;
  transition: 0.3s;
  background-color: white;
  color: var(--Violet);
  padding: 16px 65px;
  box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.3);
}


.section a.btn:hover {
  color: #ffffff;
  background-color: var(--Soft-Magenta);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0;
  margin-right: 85px;
}


footer .social {
  display: flex;
  gap: 14px;
}

footer .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 60px;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 24px;
  transition: 0.3s;

}

footer .social a:hover {
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}

